<%= form_for @post do |f| %>
    <p>
        <%= f.label :title %>
        <%= f.text_field :title %> 
    </p>

    <p>
        <%= f.label :content %> 
        <%= f.text_area :content %>
    </p>
    
    <% Category.all.each do |c| %>
        <p>
            <label for ="category_id_<%= c.id %>"><%= c.name %></label>
            <input type="checkbox" name="post[category_ids][]" value="<%= c.id %>" id="category_id_<%= c.id %>">
        </p>
    <% end %>
    
    <input type ="text_field" id="post_categories_attributes_0_name" name="post[categories_attributes][0][name]">
    
    <%= f.submit %>
<% end %>
